/*.log
/*.net
/*.op.raw
/*.raw
/GuiarWizardPro/.vs/*
/GuiarWizardPro/GuitarWizardPro/bin/*
/GuiarWizardPro/GuitarWizardPro/obj/*
/GuiarWizardPro/GuitarWizardPro.Services/bin/*
/GuiarWizardPro/GuitarWizardPro.Services/obj/*
/GuiarWizardPro/GuitarWizardPro.Tests/*
/GuiarWizardPro/GuitarWizardPro.ViewModel/bin/*
/GuiarWizardPro/GuitarWizardPro.ViewModel/obj/*
/GuitarWizardPro.Arduino/libraries/*
/GuiarWizardPro/GuitarWizardPro.WPF/obj
/GuiarWizardPro/GuitarWizardPro.WPF/bin/Debug/net8.0-windows
/GuiarWizardPro/GuitarWizardPro.WinForms/obj
/GuiarWizardPro/GuitarWizardPro.Console/obj
/GuiarWizardPro/GuitarWizardPro.Console/bin/Debug/net8.0
/GuiarWizardPro/GuitarWizardPro.WinForms/bin/Debug/net8.0-windows
/GuiarWizardPro/GuitarWizardPro.Console/bin/Debug/net8.0-windows
/GuiarWizardPro/GuitarWizardPro.WPF/bin/Debug/net8.0-windows10.0.22621.0
/libraries/ArduinoBLE/extras/test/src/Arduino.cpp
/libraries/ArduinoBLE/*
/libraries/Arduino_AdvancedAnalog/*
/libraries/RF24/*
/GuiarWizardPro/GuitarWizardPro.Utility/bin/*
/GuiarWizardPro/GuitarWizardPro.Utility/obj/*
/libraries/WiFi101/examples/*
/libraries/WiFi101/*
/Arduino_CMSIS-DSP/*
/Arduino_CMSIS-DSP/*
/cmsis_dsp/*
/libraries/cmsis_dsp/*
/libraries/Arduino_USBHostMbed5/*
/EEE416 Project/EEE416_Project_B00896175.zip
/EEE416 Project/EEE416_prensentation_slides.pptx
/EEE416 Project/EEE416_Report.pdf
/EEE416 Project/data analysis/data_analysis.m
/EEE416 Project/data analysis/getFilter2.m
/EEE416 Project/data analysis/waveform_4x_sample_raw.csv
/EEE416 Project/data analysis/waveform_500hz_iirFiltered.csv
/EEE416 Project/DebugUtility.cs
/EEE416 Project/ESP32_Host/adc_audio.h
/EEE416 Project/ESP32_Host/adc_audio.ino
/EEE416 Project/ESP32_Host/ESP32_Host.ino
/EEE416 Project/Giga_Client_M7/dac_audio.h
/EEE416 Project/Giga_Client_M7/dac_audio.ino
/EEE416 Project/Giga_Client_M7/Giga_Client_M7.ino
/EEE416 Project/libraries/GuitarWizardPro/AudioDAC.cpp
/EEE416 Project/libraries/GuitarWizardPro/AudioDAC.h
/EEE416 Project/libraries/GuitarWizardPro/HALConfig.cpp
/EEE416 Project/libraries/GuitarWizardPro/HALConfig.h
/EEE416 Project/libraries/GuitarWizardPro/rf24_transceive.cpp
/EEE416 Project/libraries/GuitarWizardPro/rf24_transceive.h
/EEE416 Project/libraries/GuitarWizardPro/shared.h
