/*.log
/*.net
/*.op.raw
/*.raw
/GuiarWizardPro/.vs/*
/GuiarWizardPro/GuitarWizardPro/bin/*
/GuiarWizardPro/GuitarWizardPro/obj/*
/GuiarWizardPro/GuitarWizardPro.Services/bin/*
/GuiarWizardPro/GuitarWizardPro.Services/obj/*
/GuiarWizardPro/GuitarWizardPro.Tests/*
/GuiarWizardPro/GuitarWizardPro.ViewModel/bin/*
/GuiarWizardPro/GuitarWizardPro.ViewModel/obj/*
/GuitarWizardPro.Arduino/libraries/*
/GuiarWizardPro/GuitarWizardPro.WPF/obj
/GuiarWizardPro/GuitarWizardPro.WPF/bin/Debug/net8.0-windows
/GuiarWizardPro/GuitarWizardPro.WinForms/obj
/GuiarWizardPro/GuitarWizardPro.Console/obj
/GuiarWizardPro/GuitarWizardPro.Console/bin/Debug/net8.0
/GuiarWizardPro/GuitarWizardPro.WinForms/bin/Debug/net8.0-windows
/GuiarWizardPro/GuitarWizardPro.Console/bin/Debug/net8.0-windows
/GuiarWizardPro/GuitarWizardPro.WPF/bin/Debug/net8.0-windows10.0.22621.0
/libraries/ArduinoBLE/extras/test/src/Arduino.cpp
/libraries/ArduinoBLE/*
/libraries/Arduino_AdvancedAnalog/*
